<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-05-30T12:12:00Z</date>
	<key>WorkspacePath</key>
	<string>/Users/son/StudioProjects/smunity_rest_place/macos/Runner.xcworkspace</string>
</dict>
</plist>
